/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: #FFF2E4;
    position: relative;
}

.main-header {
    text-align: center;
    margin: 20px auto 20px auto;
    max-width: 600px;
    animation-duration: 1.5s;
    animation-name: viewFromLeftToRight;
}

/* Le grand timeline pour le parcours scolaire */
.academic-pathways {
    width: 38%;
    animation-name: viewFromLeftToRight;
    animation-duration: 1.5s;
}

.academic-pathways .timeline {
    margin: 0 auto;
    max-width: 650px;
    padding: 20px;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 3px 8fr;
}

.academic-pathways .timeline-component {
    margin: 0 20px 20px 20px;
}

.academic-pathways .timeline-component-bg {
    padding: 3em 1.5em 0em 1.5em;
}

.academic-pathways .timeline-component-bg-bottom {
    margin-bottom: 0;
}

.academic-pathways .timeline-date-right {
    padding: 5px 10px 0 0;
}

.academic-pathways .timeline-middle {
    position: relative;
    background: #333;
}

.academic-pathways .timeline-point {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 25px;
    background: #000;
    border-radius: 50%;
    border: 3px solid #000;
}

.academic-pathways .timeline-title {
    font-size: 1.2em;
    margin: 0;
    font-weight: bold;
}

.academic-pathways .timeline-paragraph {
    line-height: 1.8em;
}

.academic-pathways .timeline-point-bottom {
    top: 118px;
    bottom: 0;
}

/* Le petit timeline pour les cours en ligne */
.online-courses {
    width: 38%;
    animation-name: viewFromRightToLeft;
    animation-duration: 1.5s;
}

.online-courses .timeline {
    margin: 0 auto;
    max-width: 650px;
    padding: 20px;
    display: grid;
    grid-template-columns: 8fr 3px 1fr;
}

.online-courses .timeline-component {
    margin: 0 20px 20px 20px;
}

.online-courses .timeline-component-bg {
    padding: 2.2em 1.5em 0em 1.5em;
}

.online-courses .timeline-component-bg-bottom {
    margin-bottom: 0;
}

.online-courses .timeline-date-right {
    text-align: left;
    padding: 5px 10px 0 0;
}

.online-courses .timeline-middle {
    position: relative;
    background: #333;
}

.online-courses .timeline-point {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 25px;
    background: #000;
    border-radius: 50%;
    border: 3px solid #000;
}

.online-courses .timeline-title {
    text-align: right;
    font-size: 1.2em;
    line-height: 3em;
    margin: 0;
    font-weight: bold;
}

.online-courses .timeline-paragraph {
    line-height: 1.8em;
    text-align: right;
}

.online-courses .timeline-point-bottom {
    top: 110px;
    bottom: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 0 0 30px 0;
}

.career-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.online-courses .subtitle {
    text-align: right;
}

.certifications {
    width: 20%;
    animation-name: viewFromRightToLeft;
    animation-duration: 1.5s;
}

.certifications .subtitle {
    text-align: center;
    margin-bottom: 20px;
}

.certif-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.certif-images img {
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    border-radius: 10px;
    width: 120px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 400px;
    margin-top: 10px;
    animation-name: viewFromLeftToRight;
    animation-duration: 1.5s;
    flex-wrap: wrap;
    gap: 20px;
}

/* Animations */
@keyframes viewFromRightToLeft {
    from {
        opacity: 0;
        transform: translateX(10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes viewFromLeftToRight {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Responsive */
@media screen and (max-width: 1350px) {
    .academic-pathways .timeline-point-bottom {
        top: 190px;
        bottom: 0;
    }
}

@media screen and (max-width: 1050px) {
    .career-content {
        flex-direction: column;
        align-items: center;
    }
    .academic-pathways {
        width: 300px;
    }
    .academic-pathways .timeline-point-bottom {
        top: 220px;
        bottom: 0;
    }
    .online-courses {
        width: 300px;
    }
    .online-courses .timeline-title {
        font-size: 16px;
    }
    .online-courses .timeline-point-bottom {
        top: 90px;
        bottom: 0;
    }
    .online-courses .timeline-component-bg {
        padding: 2.2em 1.5em 0em 0em;
    }
    .certifications {
        width: 300px; 
    }
}